<header>
<blockquote class="blockquote text-center">
  <p class="h1">{{title}}</p>
  <footer class="blockquote-footer"><cite title="Source Title">A new form of reading</cite></footer>
</blockquote>
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Home</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Library articles</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Contact</a>
</nav>
</header>
<main>
  <div>
    <app-books-list></app-books-list>
  </div>
</main>
<footer>
  {{title}} 2022
</footer>