<header>
<blockquote class="blockquote text-center">
  <p class="h1">{{title}}</p>
  <footer class="blockquote-footer"><cite title="Source Title">A new form of reading</cite></footer>
</blockquote>
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
  <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['/wishlist']">Wishlist</a>
  <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['/about']">About</a>
</nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  {{title}}|2022
</footer>