img{
    width:200px;
    height: 300px;

}


.books_card{
    display: flex;
    justify-content:space-between ;
    border-bottom: solid;
    padding-bottom:15px ;
}
p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}