<h1>List of books</h1>
<div class="books_card">
    <div *ngFor="let book of books">
        <div class="book-zone">
            <p>{{book.name}}</p>
            <img src="{{book.images}}" alt="{{book.type}}">
        </div>
        <app-wishlist-button [(wishbutton)]="book.wishbutton" *ngIf="book.wishbutton==false && book.available==true"></app-wishlist-button>
        <p class="text-warning bg-dark" *ngIf="book.available==false">
            product no available in the country</p>
            {{book.wishbutton}}
    </div>
</div>


